.body {
  position: relative;
  font-family: $mainFontFamily;
  background: $primaryColor;
  width: 1600px;
}
@media (max-width: 480px) {
  .body {
    width: 480px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .body {
    width: 768px;
  }
}
