.clients {
  display: flex;
  padding: 0px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 26px;
  width: 100vw;
  max-width: 450px;

  &__item {
    border: 1px solid $disabledColor;
    border-radius: 3px;
  }
  &__item:hover,
  &__item:focus,
  &__item:active {
    border: 1px solid $seventhColor;
    transition-property: fill border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: $disabledColor;
    height: 92px;
    max-width: 210px;
    width: 100vw;
    padding: 20px;
  }
  &__icon:hover,
  &__icon:focus,
  &__icon:active {
    fill: $seventhColor;
    transition-property: fill border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 768px) {
  .clients {
    flex-wrap: wrap;
    width: 100vw;
    max-width: 738px;
    &__icon {
      max-width: 226px;
    }
  }
}
@media (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
    justify-content: center;
    &__icon {
      max-width: 170px;
    }
  }
}
