.clients {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  margin: 0;
  margin-left: -30px;
  align-items: center;
  list-style: none;

  &__item {
    border: 1px solid $disabledColor;
    border-radius: 3px;
  }
  &__item:hover,
  &__item:focus,
  &__item:active {
    border: 1px solid $seventhColor;
    transition-property: fill border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: $disabledColor;
  }
  &__icon:hover,
  &__icon:focus,
  &__icon:active {
    fill: $seventhColor;
    transition-property: fill border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
