.clients {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  list-style: none;

  &__item {
    border: 1px solid $disabledColor;
    border-radius: 3px;
  }
  &__item:hover,
  &__item:focus,
  &__item:active {
    border: 1px solid $seventhColor;
    transition-property: fill border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: $disabledColor;
  }
  &__icon:hover,
  &__icon:focus,
  &__icon:active {
    fill: $seventhColor;
    transition-property: fill border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (max-width: 480px) {
  .clients {
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .clients {
    width: 768px;
    margin-top: 0px;
    margin-left: 0px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .clients__icon {
    width: 226px;
  }
}
