.contacts {
  display: none;
}
@media (min-width: 768px) {
  .contacts {
    display: inline-block;
    list-style: none;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;

    .contacts__link {
      color: rgba(117, 117, 117, 1);
      text-decoration: none;
    }
    & > .contacts__address:not(:last-child) {
      margin-bottom: 10px;
    }
    &__link:hover,
    &__link:focus,
    &__link:active > svg {
      color: $seventhColor;
      fill: $seventhColor;
    }

    &__link {
      color: $thirdColor;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon {
      fill: $disabledColor;
      margin-right: 8px;
    }
  }
}
@media (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    padding-left: 0px;

    & > .contacts__address:not(:last-child) {
      margin-right: 30px;
    }
  }
  .contacts {
    .contacts__link {
      color: rgba(117, 117, 117, 1);
    }
    & > .contacts__address:not(:last-child) {
      margin-bottom: 0px;
    }
    &__link:hover,
    &__link:focus,
    &__link:active > svg {
      color: $seventhColor;
      fill: $seventhColor;
    }

    &__link {
      color: $thirdColor;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
