.container {
  width: 1200px;
}
@media (max-width: 480px) {
  .container {
    width: 480px;
    margin-top: 0px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 768px;
  }
}
