.latin {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
  &__title {
    font-family: $mainFontFamily;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 700;
    line-height: 1.14;
    color: $fifthColor;
    margin-bottom: 10px;
  }
  &__text {
    font-family: $mainFontFamily;
    font-size: 14px;
    line-height: 1.71;
    color: $thirdColor;
    width: 270px;
  }
  &__icon {
    background-color: $secondaryColor;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    padding: 25px;
  }
}
@media (max-width: 480px) {
  .latin {
    display: flex;
    flex-direction: column;
    align-items: center;
    .latin__position {
      width: 450px;
    }
    .latin__icon {
      width: 450px;
    }
    .latin__title {
      font-family: $mainFontFamily;
      font-size: 14px;
      line-height: 1.71;
      font-weight: 700;
      line-height: 1.14;
      color: $fifthColor;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .latin__text {
      margin-top: 10px;
      padding-bottom: 0px;
      width: 450px;
      margin-bottom: 30px;
    }
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .latin {
    width: 768px;
    margin-top: 0px;
    margin-left: 215px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .latin__text {
    width: 354px;
  }
  .latin__icon {
    margin: 0;
    width: 354px;
  }
}
