.latin {
  display: flex;
  flex-direction: column;
  padding: 0px;
  list-style: none;
  width: 100vw;
  max-width: 450px;
  margin-bottom: 0px;

  & > .latin__position:not(:last-child) {
    margin-bottom: 30px;
  }
  .latin__position {
    width: 100vw;
    max-width: 450px;
  }

  .latin__icon {
    width: 100vw;
    max-width: 450px;
    height: 120px;

    background-color: $secondaryColor;
    border-radius: 4px;
    padding: 25px;
  }

  .latin__title {
    font-family: $mainFontFamily;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 700;
    line-height: 1.14;
    color: $fifthColor;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .latin__text {
    margin-top: 10px;
    padding-bottom: 0px;

    width: 100vw;
    max-width: 450px;
    font-family: $mainFontFamily;
    font-size: 14px;
    line-height: 1.71;
    color: $thirdColor;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .latin {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
    max-width: 738px;
    & > .latin__position:not(:last-child) {
      margin-bottom: 0px;
    }
    .latin__position {
      max-width: 354px;
    }
    .latin__icon {
      width: 100vw;
      max-width: 354px;
      height: 120px;
    }
    .latin__text {
      max-width: 354px;
    }
    .latin__title {
      text-align: start;
    }
  }
}
@media (min-width: 1200px) {
  .latin {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1170px;
    & > .latin__position:not(:last-child) {
      margin-bottom: 0px;
    }
    .latin__position {
      max-width: 270px;
    }
    .latin__icon {
      width: 100vw;
      max-width: 270px;
      height: 120px;
    }
    .latin__text {
      max-width: 270px;
    }
    .latin__title {
      text-align: start;
    }
  }
}
