.logo {
  font-family: $logoFontFamily;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;

  &__blue {
    @extend .logo;
    color: $seventhColor;
  }
  &__black {
    @extend .logo;
    color: $fifthColor;
  }
  &__white {
    @extend .logo;
    color: $primaryColor;
  }
}
.logo-position {
  margin-left: 15px;
}
@media (min-width: 1200px) {
  .logo-position {
    margin-left: 130px;
  }
}
