.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    background-color: $fourthColor;

    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/mobile-background-photo@1x.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px 0px var(--shadow-shadow);
    margin: 0 auto;
  }
  &__headline {
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $primaryColor;
    margin-top: 0px;
  }
}
.main__button {
  color: $sixthColor;
  background-color: $secondaryColor;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: $mainFontFamily;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  width: 200px;
  margin-top: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main__button:hover,
.main__button:focus,
.main__button:active {
  color: $primaryColor;
  background-color: $seventhColor;
}
.main-backdrop {
  display: flex;

  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition-property: visibility;
  visibility: visible;
  animation-duration: 2000ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
  z-index: 1;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.is-hidden .main__overlay {
  transform: translate(-50%, -50%) scale(1.2);
}
.main__overlay {
  background: $primaryColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 609px;
  width: 450px;
  display: inline-block;
  transition-property: visibility opacity transform;
  transition-duration: 2s;
  transform: translate(-50%, -50%);
  transition-timing-function: ease-in;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  margin-top: 398px;
  margin-left: 50%;
}
.form-header {
  font-family: "Roboto";
  color: $sixthColor;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  display: inline-block;
  margin: 40px 40px 0px 40px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main__photo {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/mobile-background-photo@2x.jpg");
  }
}
@media (min-width: 480px) {
  .main__photo {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .main {
    align-items: center;
  }
  .main__photo {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/tablet-background-photo@1x.jpg");
  }
  .main__overlay {
    margin-top: 513px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main__photo {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/tablet-background-photo@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main__photo {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/background-photo.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main__photo {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/background-photo@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main__photo {
    height: 600px;
    max-width: 1600px;
  }
  .main__overlay {
    margin-top: 526px;
    height: 581px;
    width: 528px;
  }
  .form-header {
    width: 448px;
    margin: 40px 40px 0px;
  }
  .main__headline {
    font-size: 44px;
  }
}
