.js-menu-container {
  display: none;
}
@media (max-width: 480px) {
  .js-menu-container {
    display: none;
  }
  .js-menu-container .is-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;
    transform: translateX(0%);
    transition: transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
}
