@media (max-width: 480px) {
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    margin: 0;
    margin-left: 284px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle > svg:hover,
.menu-toggle > svg:focus {
  fill: $seventhColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgba(33, 33, 33, 1);
}

.mobile-menu {
  padding: 0;
  margin-left: 40px;
  margin-top: 48px;
  margin-bottom: 0px;
  list-style: none;
  display: inline-block;
}

.link {
  display: inline-block;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  margin-bottom: 36px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: $seventhColor;
}

.mobile-addresses {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: 40px;
  margin-top: 266px;
}
.mobile-addresses__link {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 32px;
}
.mobile-socials {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: 40px;
}
.mobile-socials__link {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $seventhColor;
}
.mobile__phone {
  font-family: $mainFontFamily;

  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.mobile__mail {
  font-family: $mainFontFamily;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.mobile-addresses__link {
  color: rgba(33, 150, 243, 1);
}
.gray {
  color: rgba(117, 117, 117, 1);
}
@media (min-width: 481px) and (max-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
