.navigation {
  display: none;
}
@media (min-width: 768px) {
  .navigation {
    display: inline-block;
    &__list {
      display: flex;
      list-style: none;
    }
    &__list > .navigation__item:not(:last-child) {
      margin-right: 60px;
    }
    &__link:hover,
    &__link:focus,
    &__link:active {
      color: $seventhColor;
    }
    &__link {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;
      color: $fifthColor;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .agency {
    border-bottom: 4px solid rgba(33, 150, 243, 1);
    border-radius: 2px;
    position: relative;
    top: 29px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    margin-right: 340px;
    margin-left: 93px;
  }
  .navigation__list > .navigation__item:not(:last-child) {
    margin-right: 46px;
  }

  .navigation__list {
    padding-left: 0px;
  }
}
