.newsletter-container {
  margin-left: 78px;
  margin-top: 0px;
}
.notification {
  &__heading {
    font-family: $mainFontFamily;
    color: $primaryColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  &__input {
    background-color: $fourthColor;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    width: 358px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 12px;
  }
  &__input::placeholder {
    font-family: $mainFontFamily;
    color: $placeholderColor;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.03em;
  }
  &__input:active,
  &__input:focus,
  &__input:hover {
    border: 1px solid $seventhColor;
    outline: none;
  }
}
.newsletter {
  color: $primaryColor;
  background-color: $seventhColor;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  top: -50px;
  left: 370px;
  &__text {
    font-family: $mainFontFamily;
    color: $primaryColor;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8em;
    letter-spacing: 0.06em;
    margin: 10px 24px 10px 42px;
  }
  &__icon {
    fill: $primaryColor;
    margin: 0px;
  }
}
@media (max-width: 480px) {
  .newsletter-container {
    margin-left: 0px;
    margin-top: 0px;
  }
  .notification__heading {
    margin: 0px;
    padding: 0px;
    margin-left: 130px;
    margin-bottom: 20px;
  }
  .notification__input {
    width: 450px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .newsletter {
    margin: 0px;
    top: 20px;
    left: 130px;
    margin-bottom: 90px;
  }
}
