.offers {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  padding: 0px;
  list-style: none;

  width: 1200px;
  &__photo {
    position: relative;
    width: 100%;
    max-width: 370px;
    margin-right: 0px;
  }
  &__graphics {
    display: block;
    height: auto;
  }
  &__text {
    font-family: $mainFontFamily;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: $primaryColor;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 100%;
    bottom: 0;
    padding: 27px 90px;
    position: absolute;
  }
  &__text {
    font-family: $mainFontFamily;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: $primaryColor;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 100%;
    bottom: 0;
    padding: 27px 90px;
    position: absolute;
  }
}
