.section {
  padding: 94px 0px;

  &__header {
    font-family: $mainFontFamily;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    color: $fifthColor;
    text-align: center;
  }
}
