.section {
  padding: 60px 0px;
}
.section__header {
  font-size: 28px;
  font-family: $mainFontFamily;
  font-weight: 700;
  line-height: 1.16;
  color: $fifthColor;
  text-align: center;
  margin: 0px;
}
.hidden-section {
  display: none;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0px;
    &__header {
      font-size: 36px;
    }
  }
  .hidden-section {
    display: block;
  }
}
