.team {
  padding: 0px;
  list-style: none;
  width: 100vw;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  &__photo {
    background-color: $primaryColor;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0px;

    max-width: 450px;
    width: 100vw;
    .no-margin {
      margin: 0px;
      margin-bottom: 30px;
      max-width: 450px;
      width: 100vw;
    }
  }
  .team__image {
    height: 460px;
    width: 100vw;
    max-width: 450px;
  }
  .member {
    font-family: $mainFontFamily;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    color: $fifthColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 100vw;
    max-width: 450px;
    height: 162px;

    &__name {
      font-family: $mainFontFamily;
      color: rgba(33, 33, 33, 1);
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &__position {
      font-family: $mainFontFamily;
      font-size: 16px;
      line-height: 18.75px;
      font-weight: 400;
      letter: 3%;
      color: rgba(117, 117, 117, 1);
      margin: 0px;
      padding: 0px;
    }
    .socials {
      display: flex;
      margin: 0px;
      padding: 0px;
      list-style: none;
      margin-top: 16px;
      &__item:not(:last-child) {
        margin-right: 10px;
      }
      &__link:hover,
      &__link:focus,
      &__link:active {
        fill: $primaryColor;
      }
      &__highlight {
        width: 44px;
        height: 44px;
        border-radius: 50px;
        padding: 12px;
        background-color: $primaryColor;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      &__highlight:hover,
      &__highlight:focus,
      &__highlight:active {
        background-color: $seventhColor;
      }
      &__highlight:hover > svg {
        fill: $primaryColor;
      }
      &__highlight > .socials__icon {
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      &__icon {
        fill: $disabledColor;
      }
      &__icon:hover,
      &__icon:focus,
      &__icon:active {
        fill: $primaryColor;
      }
    }
  }
}

@media (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 738px;

    .team__image {
      height: 374px;
      width: 100vw;
      max-width: 354px;
    }
    &__photo {
      max-width: 354px;
      .no-margin {
        max-width: 354px;
      }
    }
    .member {
      max-width: 354px;
    }
  }
}
@media (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
    max-width: 1170px;
    .team__image {
      height: 260px;
      width: 100vw;
      max-width: 270px;
    }
    &__photo {
      max-width: 270px;
      .no-margin {
        max-width: 270px;
      }
    }
    .member {
      max-width: 270px;
    }
  }
}
